@use "responsive" as *;

.button {
  color:white;
  background-color: #da6b64;
  display: inline-block;
  border-radius: 100px;
  &-lg {
    @extend .button;
    padding: 1.25em 1.5em;
  }
  &-md {
    @extend .button;
  }
  &-sm {
    @extend .button;
    padding: 1.4rem 4rem;
    @include responsive(sm) {
      padding: 1em 1.5em;
    }
  }
}