@use "responsive" as *;

.button {
  font-size: 14px;
  color:#fff;
  letter-spacing: 0.08em;
  background-color: #da6b64;
  padding: 1em 1.5em;
  display: inline-block;
  border-radius: 100px;
  @include responsive(lg){
    font-size: 13px;
  }
  &-md {
    @extend .button;
    font-size: 20px;
    font-weight: 600;
  }
  &-lg {
    @extend .button;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    padding: 1.25em 1.5em;
    @include responsive(lg) {
      font-size: 20px;
    }
    br {
      display: none;
      @include responsive(sm){
        display: block;
      }
    }
  }
}