@use "responsive" as *;

.circle {
  display: inline-block;
  padding: 4rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  @include responsive(sm) {
    padding: 3rem;
  }
  p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 4rem;
    left: 4rem;
    @include responsive(sm) {
      top: 3rem;
      left: 3rem;
    }
  }
  &-about {
    @extend .circle;
    top: 0rem;
    color: white;
    background-color: #ebb94d;
  }
  &-question {
    @extend .circle;
    color: #ebb94d;
    background-color: white;
  }
}