.pagetop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 6rem;
  right: 4em;
  bottom: 4em;
  background-color: white;
  border: solid 2px black;
  border-radius: 50%;
  z-index: 2;
  &_arrow {
    height: 1em;
    width: 1em;
    border-top: 3px solid black;
    border-right: 3px solid black;
    transform: translateY(20%) rotate(-45deg);
  }
}