@use "reset";
@use "responsive" as *;
@use "button" as *;
@use "pagetop" as *;
@use "sectionTitle" as *;
@use "circle" as *;

:root {
  --color-primary: #ebb94d;
  --color-secondary: #016ea9;
  --font-size-sm: 1.6rem;
  --font-size-md: 2rem;
  --font-size-lg: 2.4rem;
  --font-size-xl: 2.8rem;
  --spacing-lg: 2rem;
  --max-width: 1200px;
}

@function rclamp($min, $max, $minViewport, $maxViewport) {
  $vwScale: ($max - $min) / ($maxViewport - $minViewport);  // vw単位でのスケールを計算
  $baseOffset: $min - $minViewport * $vwScale;  // 基準となる最小値からのオフセットを計算

  $minRem: $min / 16;  // 最小値をremに変換
  $maxRem: $max / 16;  // 最大値をremに変換
  $baseOffsetRem: $baseOffset / 16;  // オフセットをremに変換
  $vwScaleRem: $vwScale * 100;  // vwスケールを調整

  @return clamp(#{$minRem}rem, #{$baseOffsetRem}rem + #{$vwScaleRem}vw, #{$maxRem}rem);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive(sm) {
    flex-direction: column;
  }
}

html {
  font-size: 62.5%;
}
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  letter-spacing: 1.5px;
}
h2 {
  font-size: rclamp(14, 44, 768, 1440);
}
a {
  color: #000;
  text-decoration: none;
}
p {
  font-size: rclamp(12, 28, 768, 1200);
}

@include responsive(sm) {
  .br{
    display: block;
    line-height: 2.4rem;
  }
  .pc {
    display: none;
  }
}

.container {
  max-width: var(--max-width);
  text-align: center;
  padding: 0 1.6rem;
  margin: 0 auto;
}

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 1.6rem 0;
  @include responsive(sm) {
    padding: 0;
  }
  .container {
    @include flex-center();
    justify-content: space-between;
    @include responsive(sm) {
      padding-right: 0;
      flex-direction: row;
    }
  }
  &_logo {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    @include responsive(sm) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 0;
      padding-top: 0.8rem;
    }
    img {
      height: 4rem;
      @include responsive(sm) {
        height: 3.2rem;
      }
    }
    p {
      padding-bottom: 0.5rem;
      @include responsive(lg) {
        letter-spacing: 0rem;
      }
    }
  }
  &_action {
    .button {
      padding: 1em 3em;
      img {
        width: 28px;
        display: none;
      }
      .sp {
        display: none;
      }
      @include responsive(sm) {
        @include flex-center();
        border-radius: 0;
        padding: 0.8rem 1rem 1rem;
        img, .sp  {
          display: block;
        }
      }
    }
  }
}

main {
  > section {
    padding: 4.2rem 0;
  }
  .blank {
    padding: 2rem;
  }
}

.mainvisual {
  background: url(../public/img/main.jpg) no-repeat center center;
  background-size: cover;
  padding: 10rem 0;
  @include responsive(sm) {
    padding: 4rem 0;
  }
  &_title {
    line-height: 1.7em;
    letter-spacing: 0.04em;
  }
  img {
    height: 12rem;
    margin: 1rem 0 3rem;
  }
  &_name {
    font-size: rclamp(12, 32, 768, 1200);
    line-height: 1.2em;
  }
}

// コールトゥアクション
.cta {
  color: white;
  background-color: var(--color-primary);
  padding: 2.4rem 0;
  .container {
    @include flex-center();
    flex-direction: column;
  }
  p {
    font-size: rclamp(16, 32, 768, 1200);
    line-height: 3rem;
  }
  &_attention {
    color: #c7254e;
    background-color: white;
    border-radius: 3px;
    margin-top: 1.6rem;
    font-size: rclamp(14, 24, 768, 1200);
    letter-spacing: 0;
  }
  .button-lg {
    width: 85%;
    margin: 4.4rem 0 5.6rem;
  }
  &_info {
    & + & {
     margin-top: 2rem; 
    }
    span {
      @include responsive(sm) {
        display: block;
        margin: 0.5em 0 0;
      }
    }
  }
  &_sns {
    display: flex;
    gap: 6px 12px;
    margin: 1.6rem 0;
    &_facebook {
      padding: 5px 10px;
      background-color: #1877f2;
      color: white;
      border-radius: 5rem;
    }
  }
}

.question {
  background: url(../public/img/introbottom.jpg) no-repeat center bottom;
  background-size: cover;
  padding-bottom: 14rem;
  @include responsive(sm) {
    padding-bottom: 10rem;
  }
  .container {
    @include flex-center();
    flex-direction: column;
  }
  p {
    font-size: rclamp(14, 32, 768, 1200);
    margin-bottom: 2.4rem;
    line-height: 2.8rem;
    @include responsive(sm) {
      margin-top: 2rem;
    }
  }
  strong {
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1rem;
      background-color: var(--color-primary);
      position: absolute;
      inset: auto auto 0.4rem 0;
      top: 2rem;
      z-index: -1;
    }
  }
}

.what {
  background-color: #FEF5E0;
  position: relative;
  .container {
    @include flex-center();
    flex-direction: column;
  }
  &_sentence {
    font-size: rclamp(14, 32, 768, 1200);
  }
  &_skills {
    background-color: white;
    padding-top: 3.2rem;
    width: 100%;
    margin: 3rem auto;
    border: solid 2px #ebb94d;
    border-radius: .4rem;
    @include responsive(sm) {
      padding: 1rem;
    }
  }
  &_skill {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-top: 1rem;
  }
  ul {
    @include flex-center();
    align-items: baseline;
    padding: 2.8rem 0 4.8rem;
    gap: 3rem;
    flex-wrap: wrap;
    @include responsive(sm) {
      flex-direction: row;
      gap: 1rem;
      padding: 2rem 0;
      img {
        height: 3rem;
      }
    }
  }
}

.step{
  background: url("../public/img/aboutsecondbg.jpg") no-repeat center bottom;
  background-size: cover;
  .container {
    @include flex-center();
    flex-direction: column;
    color: white;
  }
  h2 {
    padding-bottom: 1.6rem;
  }
  &_sentence {
    padding-top: 1.8rem;
    font-size: rclamp(14, 32, 768, 1200);
  }
  &_num {
    padding: 0.3rem;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: white;
  }
  ul {
    @include flex-center();
    width: 100%;
    gap: 1.6rem;
    padding-top: 3rem;
    @include responsive(lg) {
      flex-direction: column;
      width: 45%;
    }
    @include responsive(sm) {
      width: 100%;
    }
  }
  li {
    width: 100%;
    padding: 3rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    p:first-child, p:nth-child(2) {
      font-size: rclamp(12, 24, 768, 1200);
      margin-bottom: 2.4rem;
    }
    p:nth-child(3) {
      font-size: rclamp(12, 28, 768, 1200);      
    }
  }
}

.blue {
  background-color: var(--color-secondary);
  color: white;
  line-height: 2.8rem;
  p {
    font-size: rclamp(12, 32, 768, 1200);
  }
}

.learn {
  span {
    font-size: 16px;
  }
  h2 {
    padding: 30px;
  }
  p {
    font-size: 20px;
  }
  ul {
    display: flex;
    justify-content: center;
    padding: 8rem 0;
    gap: 4%;
    overflow: hidden;
  }
  li {
    img {
      height: 180px;
    }
  }
  strong {
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  @include responsive(sm) {
    h2 {
      padding: 1rem 0 4rem;
    }
    ul {
      padding: 2rem 0;
      img {
        height: 12rem;
      }
    }
  }
}

.merit {
  background-color: #FEF5E0;
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    line-height: 1.3rem;
    &_merit {
      font-size: 20px;
      font-weight: 600;
      color: #ebb94d;
      padding: 0.6rem 0 0.8rem 0;
    }
    &_plus {
      background-color: white;
      border: 2px solid #ebb94d;
      border-radius: 5px;
      padding: 50px;
      width: 100%;
      letter-spacing: 0.1rem;
      font-weight: 600;
      margin: 40px;
      h2 {
        color: #ebb94d;
      }
      strong {
        display: inline-block;
        padding: 30px;
        font-size: 20px;
      }
    }
  }
  ul {
    display: flex;
    text-align: left;
    letter-spacing: 0.1rem;
    line-height: 1.3rem;
    li {
      img {
        width: 100%;
      }
      width: 100%;
      padding: 15px;
    }
  }
}

.member {
  background: url("../public/img/teacherbg.jpg") no-repeat center center;
  background-size: cover;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    color: white;
    h2{
      padding: 1.2em;
    }
    strong {
      font-weight: 600;
    }
    ul{
      display: flex;
      padding-top: 1.5em;
      li{
        margin: 0px 15px;
        width: 33%;
        img{
          position: relative;
          top: 40px;
          border-radius: 50%;
        }
        .name{
          padding: 0.6em;
        }
        .sentence{
          text-align: left;
        }
      }
    }
    &_member{
      border: 3px solid #fff;
      padding: 2.3em 2em 4em;
      height: auto;
    }
  }
}

.Question {
  background-color: #ebb94d;
  color: white;
  position: relative;
  padding-top: 120px;
  padding-bottom: 1em;
  .section_title{
    &::before,
    &::after {
      --color_seccondary: white;
    }
    padding: 0.5em;
  }
}

.Answer {
  position: relative;
  .triangle {
    position: absolute;
    background-color: #ebb94d;
    height: 1.5em;
    width: 3em;
    top: -0.1em;
    left: 50%;
    transform: translate(-50%, 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    color: black;
  }
  .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    letter-spacing: 0.1em;
    line-height: 1.6em;
    strong{
      font-weight: 600;
      padding: 1.2em;
    }
    .notion{
      font-size: 14px;
      padding: 0.4em;
    }
    li{
      display: flex;
      padding: 20px 17%;
      text-align: left;
      img{
        height: 250px;
        margin-right: 30px;
        border: 3px solid #ebb94d;
      }
      div{
        padding-top: 20px;
        font-style: italic;
        font-family: Hiragino Kaku Gothic Pro;
        color: rgb(119, 119, 119);
        .sentence{
          font-size: 18px;
        }
        .underline{
          padding-top: 5px;
          font-size: 15px;
          text-decoration: underline;
        }
      }
    }
  }
}

.content {
  background: url("../public/img/classbg.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-weight: 600;
    line-height: 2.6em;
    letter-spacing: 0.1em;
    h2{
      padding-top: 10px;
    }
    ul{
      display: flex;
      width: 100%;
      padding: 0 15%;
      margin: 30px 0;
      li{
        background-color: #016ea9;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        margin: 15px;
      }
    }
    &_title{
      font-size: 20px;
      padding: 12px 0;
    }
    &_content{
      color: black;
      background-color: white;
      margin: 0 0.1em;
      border-bottom: 1px dotted #ebebeb;
    }
    &_first{
      padding-top: 10px;
    }
    &_last{
      margin-bottom: 0.1em;
      border-radius: 0 0 4px 4px;
    }
  }
}

.flow {
  .container {
    text-align: center;
    &_img {
      margin: 4em auto 3em;
      width: 100%;
    }
    &_connection {
      padding-top: 0.2em;
    }
    &_step {
      margin-left: 1em;
      align-self: flex-end;
    }
    &_title {
      font-weight: bold;
      font-size: large;
      width: 9em;
    }
    &_sentence{
      text-align: left;;
      font-size: 0.9em;
      letter-spacing: 0.05em;
      p {
        padding: 0.5em 0;
      }
    }
    li {
      background-color: #fef5e0;
      display: flex;
      padding: 2em;
      border-radius: 10px;
      letter-spacing: 0.1em;
      line-height: 1.5em;
      gap: 2em;
      img {
        padding-bottom: 1em;
      }
    }
    @include responsive(sm) {
      &_img , &_connection{
        display: none;
      }
    }
  }
}

.why_bangkok {
  background: url("../public/img/bangkokbg.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  .container {
    padding: 2.5em 0;
    letter-spacing: 0.1em;
    line-height: 1.1em;
    font-size: 0.9em;
    h2 {
      padding: 1em 0;
      font-size: 1.8em;
    }
    div {
      padding: 0.5em 0;
    }
    p {
      padding: 0.5em 0;
    }
    &_answer {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

.prize {
  background-color: #f7c23c;
  .container {
    letter-spacing: 0.1em;
    line-height: 1.4em;
    text-align: center;
    font-weight: bold;
    h2 {
      padding: 1em 0 1.5em;
    }
    &_square {
      position: relative;
      padding-top: 5em;
      h3 {
        font-size: 1.6em;
        position: absolute;
        left: 50%;
        top: 3em;
        transform: translate(-50%, -50%);
        background-color: #f7c23c;
        white-space: nowrap;
        padding: 0 0.8em;
      }
      ul {
        display: flex;
        justify-content: center;
        border: 2px solid #fff;
        gap: 8em;
        padding: 3em;
      }
    }
    &_circle {
      background-color: #fff;
      height: 15em;
      width: 15em;
      border-radius: 50%;
      position: relative;
    }
    &_num {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 30%;
      color: #ebb94d;
      font-size: 1.5em;
      font-weight: normal;
    }
    &_content {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 60%;
      width: 85%;
      font-size: 0.9em;
      letter-spacing: 0em;
    }
  }
}

.value {
  background: url("../public/img/specialdetail.jpg") no-repeat center center;
  background-size: cover;
  .container {
    color: #fff;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.6em;
    .institute {
      padding: 1em 0 0.5em;
    }
    .block {
      padding: 1em 0 2em;
      font-size: 1.2em;
      font-weight: bold;
    }
    .section_title{
      &::before,
      &::after {
        --color_seccondary: white;
      }
      padding: 0.5em 0;
      margin-bottom: 0;
    }
  }
}

.message {
  .container{
    text-align: center;
    padding: 0 10em;
    .strong {
      padding: 2em;
      font-size: 1.3em;
      letter-spacing: 0.1em;
    }
    &_spread {
      display: flex;
      gap: 2em;
      letter-spacing: 0.1em;
      img {
        height: 9em;
      }
    }
    &_content {
      text-align: left;
      p {
        font-size: 0.9em;
        line-height: 1.3em;
        padding-top: 0.5em;
      }
      .block {
        padding: 1.5em 0;
        p {
          padding: 0;
        }
      }
    }
  }
}

.callcenter {
  background-color: #ebb94d;
  .container {
    text-align: center;
    padding: 1em 0;
    letter-spacing: 0.1em;
    .strong {
      padding: 1.5em 0;
    }
    .button-md {
      margin-top: 1em;
    }
  }
}

.common_question {
  .container {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-bottom: 3em;
    h2 {
      padding: 1em 0;
    }
    details {
      text-align: left;
      border-bottom: 1px solid #ebebeb;
      summary {
        position: relative;
        list-style: none;
        cursor: pointer;
        font-size: 1.2em;
        padding: 1em;
        border: 1px solid #ebebeb;
        margin:0.2em auto 0;
        &::after {
          display: block;
          content: "";
          position: absolute;
          border-top: solid 6px #ebebeb;
          border-left: solid 6px #ebebeb;
          width: 0.5em;
          height: 0.5em;
          transform: rotate(225deg);
          top: 1em;
          right: 1em;
        }
        &:hover{ 
          p {
            text-decoration: underline;
          }
        }
        p {
          display: inline-block;
        }
      }
      &[open]{
        summary::after{
          transform: rotate(45deg);
        }
        .container_answer {
          max-height: 5em;
          padding: 1.5em 1.5em 2em;
        }
      }
    }
    &_answer{
      padding: 0em;
      max-height: 0em;
      transition: max-height .5s, padding .5s;
    }
  }
}

footer {
  background-color: #ebebeb;
  padding: 2em;
  .container{
    display: flex;
    flex-direction: column;
    letter-spacing: 0.1em;
    p {
      font-size: 0.6em;
    }
    a {
      color: var(--color-secondary);
    }
    .cta_sns {
      padding: 0 0 2em;
      &_facebook{
        color: #FFF;
      }
    }
  }
}

.strong {
  font-weight: bold;
  font-size: 1.1em;
}

.white {
  color: #fff;
}

.yellow {
  color: var(--color-primary);
}