@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.button, .button-lg, .button-md {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.08em;
  background-color: #da6b64;
  padding: 1em 1.5em;
  display: inline-block;
  border-radius: 100px;
}
@media (max-width: 1200px) {
  .button, .button-lg, .button-md {
    font-size: 13px;
  }
}
.button-md {
  font-size: 20px;
  font-weight: 600;
}
.button-lg {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  padding: 1.25em 1.5em;
}
@media (max-width: 1200px) {
  .button-lg {
    font-size: 20px;
  }
}
.button-lg br {
  display: none;
}
@media (max-width: 768px) {
  .button-lg br {
    display: block;
  }
}

.pagetop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 6rem;
  right: 4em;
  bottom: 4em;
  background-color: white;
  border: solid 2px black;
  border-radius: 50%;
  z-index: 2;
}
.pagetop_arrow {
  height: 1em;
  width: 1em;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: translateY(20%) rotate(-45deg);
}

.section_title {
  position: relative;
  line-height: 1.5em;
  width: 100%;
  max-width: calc(var(--max-width) - 30%);
  padding: 4rem;
  margin-bottom: 2em;
}
.section_title::before, .section_title::after {
  position: absolute;
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  top: 0;
  left: 0;
}
.section_title::before {
  border-top: 4px solid var(--color-primary);
  border-left: 4px solid var(--color-primary);
}
.section_title::after {
  border-right: 4px solid var(--color-primary);
  border-bottom: 4px solid var(--color-primary);
  inset: auto 0 0 auto;
}

:root {
  --color-primary: #ebb94d;
  --color-secondary: #016ea9;
  --font-size-sm: 1.6rem;
  --font-size-md: 2rem;
  --font-size-lg: 2.4rem;
  --font-size-xl: 2.8rem;
  --spacing-lg: 2rem;
  --max-width: 1200px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  letter-spacing: 1.5px;
}

h2 {
  font-size: clamp(0.875rem, -1.2678571429rem + 4.4642857143vw, 2.75rem);
}

a {
  color: #000;
  text-decoration: none;
}

p {
  font-size: clamp(0.75rem, -0.5833333333rem + 2.7777777778vw, 1.5rem);
}

@media (max-width: 768px) {
  .br {
    display: block;
    line-height: 2.5rem;
  }
}
.container {
  max-width: var(--max-width);
  text-align: center;
  padding: 0 var(--spacing-sm);
  margin: 0 auto;
}

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 1.6rem 0;
}
@media (max-width: 768px) {
  .header {
    padding: 0;
  }
}
.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .header .container {
    padding-right: 0;
    flex-direction: row;
  }
}
.header_logo {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
@media (max-width: 768px) {
  .header_logo {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0;
    padding-top: 0.8rem;
  }
}
.header_logo img {
  height: 4rem;
}
@media (max-width: 768px) {
  .header_logo img {
    height: 3.2rem;
  }
}
.header_logo p {
  padding-bottom: 0.5rem;
}
@media (max-width: 1200px) {
  .header_logo p {
    letter-spacing: 0rem;
  }
}
.header_action .button {
  padding: 1em 3em;
}
.header_action .button img {
  width: 28px;
  display: none;
}
.header_action .button .sp {
  display: none;
}
@media (max-width: 768px) {
  .header_action .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    padding: 0.8rem 1rem 1rem;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .header_action .button {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .header_action .button img, .header_action .button .sp {
    display: block;
  }
  .header_action .button .pc {
    display: none;
  }
}

main > section {
  padding: 4.2rem 0;
}
main .blank {
  padding: 2rem;
}

.mainvisual {
  background: url(../public/img/main.jpg) no-repeat center center;
  background-size: cover;
  padding: 10rem 0;
}
@media (max-width: 768px) {
  .mainvisual {
    padding: 4rem 0;
  }
}
.mainvisual_title {
  line-height: 1.7em;
  letter-spacing: 0.04em;
}
.mainvisual img {
  height: 12rem;
  margin: 1rem 0 3rem;
}
.mainvisual_name {
  font-size: clamp(0.75rem, -1.0277777778rem + 3.7037037037vw, 1.75rem);
  line-height: 1.2em;
}

.cta {
  color: #fff;
  background-color: var(--color-primary);
  font-weight: bold;
}
.cta .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .cta .container {
    flex-direction: column;
  }
}
.cta_copy {
  font-size: 2rem;
  line-height: 1.7;
}
.cta_attention {
  color: #c7254e;
  font-size: var(--font-size-md);
  background-color: #fff;
  padding: 0.2em;
  border-radius: 3px;
  margin: var(--spacing-md) 0 0;
}
.cta .button-lg {
  width: 100%;
  max-width: calc(var(--max-width) - 30%);
  margin: 48px 0;
}
.cta_info {
  font-size: 2rem;
  letter-spacing: 0.08em;
}
.cta_info + .cta_info {
  margin: 32px 0 0;
}
@media (max-width: 768px) {
  .cta_info span {
    display: block;
    margin: 0.5em 0 0;
  }
}
.cta_sns {
  margin: var(--spacing-lg) 0 0;
  display: flex;
  gap: 6px 12px;
}
.cta_sns_facebook {
  padding: 5px 10px;
  background-color: #1877f2;
  color: var(--color-white);
  font-size: 12px;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .cta p {
    font-size: var(--font-size-sm);
  }
}

.question {
  background: url(../public/img/introbottom.jpg) no-repeat center bottom;
  background-size: contain;
  padding-bottom: 160px;
}
.question .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .question .container {
    flex-direction: column;
  }
}
.question p {
  font-size: var(--font-size-sm);
  line-height: 2.4rem;
}
.question p + p {
  margin: 1.5em 0 0;
}
.question p strong {
  font-weight: 600;
  font-size: 1.6rem;
  position: relative;
  z-index: 1;
}
.question p strong::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.8rem;
  background-color: var(--color-primary);
  position: absolute;
  inset: auto auto 0.3rem 0;
  top: 1.6rem;
  z-index: -1;
}
@media (max-width: 768px) {
  .question {
    padding-bottom: 100px;
  }
  .question span {
    display: block;
  }
  .question .pc {
    display: none;
  }
  .question p {
    font-size: 1.5rem;
  }
  .question p + p {
    margin: 2rem 0 0;
  }
}

.what {
  background-color: #FEF5E0;
  position: relative;
}
.what .circle {
  position: absolute;
  left: 50%;
  top: 0rem;
  color: white;
  background-color: #ebb94d;
}
.what .circle p {
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  color: #fff;
  position: absolute;
  top: 3.6rem;
  left: 4rem;
}
.what .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2.4rem;
}
@media (max-width: 768px) {
  .what .container {
    flex-direction: column;
  }
}
.what .container_skills {
  background-color: #FFFFFF;
  padding: 30px;
  width: 100%;
  margin: 30px auto;
  border: solid 2px #ebb94d;
  border-radius: 0.4rem;
}
.what .container strong {
  font-weight: 600;
  font-size: 1.6rem;
}
.what ul {
  padding: 3rem 0;
  display: flex;
  gap: 3rem;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
.what p {
  line-height: 1.6rem;
  font-size: 1.2rem;
  padding-top: 1rem;
}
@media (max-width: 768px) {
  .what .container_skills {
    padding: 1rem;
  }
  .what ul {
    gap: 1rem;
    padding: 2rem;
  }
  .what p {
    padding-top: 0rem;
    font-size: 1rem;
    font-weight: normal;
  }
  .what img {
    height: 3rem;
  }
}

.step {
  background: url("../public/img/aboutsecondbg.jpg") no-repeat center bottom;
  background-size: cover;
}
.step .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
  font-size: 20px;
}
@media (max-width: 768px) {
  .step .container {
    flex-direction: column;
  }
}
.step .container_step {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 3px;
  border-radius: 5px;
}
.step .container h2 {
  padding: 2.8rem;
}
.step p:nth-child(2) {
  padding-bottom: 1.6rem;
}
.step ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding-top: 3rem;
}
@media (max-width: 768px) {
  .step ul {
    flex-direction: column;
  }
}
.step li {
  margin: 0 10px;
  width: 100%;
  padding: 3rem;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 5px;
  font-size: var(--font-size-sm);
}
.step li p:nth-child(2) {
  font-size: 14px;
  display: inline-block;
  padding: 25px 0;
}
@media (max-width: 1200px) {
  .step ul {
    flex-direction: column;
    width: 45%;
  }
}
@media (max-width: 768px) {
  .step {
    padding: 3rem;
  }
  .step ul {
    width: 100%;
  }
  .step ul li {
    padding: 1.5rem 4rem;
  }
  .step ul li p:nth-child(2) {
    font-size: 1.2rem;
    padding: 2rem 0 1rem;
  }
  .step p {
    font-size: 1.3rem;
  }
  .step .br {
    display: block;
    line-height: 2rem;
  }
}

.blue {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: 2rem;
  line-height: var(--font-size-xl);
}
@media (max-width: 768px) {
  .blue {
    font-size: 1.2rem;
    line-height: var(--font-size-sm);
    padding: var(--spacing-md);
  }
}

.learn span {
  font-size: 16px;
}
.learn h2 {
  padding: 30px;
}
.learn p {
  font-size: 20px;
}
.learn ul {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  gap: 4%;
  overflow: hidden;
}
.learn li img {
  height: 180px;
}
.learn strong {
  font-weight: 600;
  letter-spacing: 0.1rem;
}
@media (max-width: 768px) {
  .learn h2 {
    padding: 1rem 0 4rem;
  }
  .learn ul {
    padding: 2rem 0;
  }
  .learn ul img {
    height: 12rem;
  }
}

.merit {
  background-color: #FEF5E0;
}
.merit .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  line-height: 1.3rem;
}
.merit .container_merit {
  font-size: 20px;
  font-weight: 600;
  color: #ebb94d;
  padding: 0.6rem 0 0.8rem 0;
}
.merit .container_plus {
  background-color: white;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  padding: 50px;
  width: 100%;
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin: 40px;
}
.merit .container_plus h2 {
  color: #ebb94d;
}
.merit .container_plus strong {
  display: inline-block;
  padding: 30px;
  font-size: 20px;
}
.merit ul {
  display: flex;
  text-align: left;
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
}
.merit ul li {
  width: 100%;
  padding: 15px;
}
.merit ul li img {
  width: 100%;
}

.member {
  background: url("../public/img/teacherbg.jpg") no-repeat center center;
  background-size: cover;
}
.member .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  color: white;
}
.member .container h2 {
  padding: 1.2em;
}
.member .container strong {
  font-weight: 600;
}
.member .container ul {
  display: flex;
  padding-top: 1.5em;
}
.member .container ul li {
  margin: 0px 15px;
  width: 33%;
}
.member .container ul li img {
  position: relative;
  top: 40px;
  border-radius: 50%;
}
.member .container ul li .name {
  padding: 0.6em;
}
.member .container ul li .sentence {
  text-align: left;
}
.member .container_member {
  border: 3px solid #fff;
  padding: 2.3em 2em 4em;
  height: auto;
}

.Question {
  background-color: #ebb94d;
  color: white;
  position: relative;
  padding-top: 120px;
  padding-bottom: 1em;
}
.Question .circle {
  position: absolute;
  top: 3em;
  left: 50%;
  background-color: #fff;
}
.Question .circle p {
  color: #ebb94d;
  position: absolute;
  left: 1.3em;
  top: 2em;
}
.Question .section_title {
  padding: 0.5em;
}
.Question .section_title::before, .Question .section_title::after {
  --color_seccondary: white;
}

.Answer {
  position: relative;
}
.Answer .triangle {
  position: absolute;
  background-color: #ebb94d;
  height: 1.5em;
  width: 3em;
  top: -0.1em;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
          clip-path: polygon(0 0, 50% 100%, 100% 0);
  color: black;
}
.Answer .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  letter-spacing: 0.1em;
  line-height: 1.6em;
}
.Answer .container strong {
  font-weight: 600;
  padding: 1.2em;
}
.Answer .container .notion {
  font-size: 14px;
  padding: 0.4em;
}
.Answer .container li {
  display: flex;
  padding: 20px 17%;
  text-align: left;
}
.Answer .container li img {
  height: 250px;
  margin-right: 30px;
  border: 3px solid #ebb94d;
}
.Answer .container li div {
  padding-top: 20px;
  font-style: italic;
  font-family: Hiragino Kaku Gothic Pro;
  color: rgb(119, 119, 119);
}
.Answer .container li div .sentence {
  font-size: 18px;
}
.Answer .container li div .underline {
  padding-top: 5px;
  font-size: 15px;
  text-decoration: underline;
}

.content {
  background: url("../public/img/classbg.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}
.content .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: 600;
  line-height: 2.6em;
  letter-spacing: 0.1em;
}
.content .container h2 {
  padding-top: 10px;
}
.content .container ul {
  display: flex;
  width: 100%;
  padding: 0 15%;
  margin: 30px 0;
}
.content .container ul li {
  background-color: #016ea9;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  margin: 15px;
}
.content .container_title {
  font-size: 20px;
  padding: 12px 0;
}
.content .container_content {
  color: black;
  background-color: white;
  margin: 0 0.1em;
  border-bottom: 1px dotted #ebebeb;
}
.content .container_first {
  padding-top: 10px;
}
.content .container_last {
  margin-bottom: 0.1em;
  border-radius: 0 0 4px 4px;
}

.flow .container {
  text-align: center;
}
.flow .container_img {
  margin: 4em auto 3em;
  width: 100%;
}
.flow .container_connection {
  padding-top: 0.2em;
}
.flow .container_step {
  margin-left: 1em;
  align-self: flex-end;
}
.flow .container_title {
  font-weight: bold;
  font-size: large;
  width: 9em;
}
.flow .container_sentence {
  text-align: left;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}
.flow .container_sentence p {
  padding: 0.5em 0;
}
.flow .container li {
  background-color: #fef5e0;
  display: flex;
  padding: 2em;
  border-radius: 10px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  gap: 2em;
}
.flow .container li img {
  padding-bottom: 1em;
}
@media (max-width: 768px) {
  .flow .container_img, .flow .container_connection {
    display: none;
  }
}

.why_bangkok {
  background: url("../public/img/bangkokbg.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
}
.why_bangkok .container {
  padding: 2.5em 0;
  letter-spacing: 0.1em;
  line-height: 1.1em;
  font-size: 0.9em;
}
.why_bangkok .container h2 {
  padding: 1em 0;
  font-size: 1.8em;
}
.why_bangkok .container div {
  padding: 0.5em 0;
}
.why_bangkok .container p {
  padding: 0.5em 0;
}
.why_bangkok .container_answer {
  font-size: 1.5em;
  font-weight: bold;
}

.prize {
  background-color: #f7c23c;
}
.prize .container {
  letter-spacing: 0.1em;
  line-height: 1.4em;
  text-align: center;
  font-weight: bold;
}
.prize .container h2 {
  padding: 1em 0 1.5em;
}
.prize .container_square {
  position: relative;
  padding-top: 5em;
}
.prize .container_square h3 {
  font-size: 1.6em;
  position: absolute;
  left: 50%;
  top: 3em;
  transform: translate(-50%, -50%);
  background-color: #f7c23c;
  white-space: nowrap;
  padding: 0 0.8em;
}
.prize .container_square ul {
  display: flex;
  justify-content: center;
  border: 2px solid #fff;
  gap: 8em;
  padding: 3em;
}
.prize .container_circle {
  background-color: #fff;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  position: relative;
}
.prize .container_num {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 30%;
  color: #ebb94d;
  font-size: 1.5em;
  font-weight: normal;
}
.prize .container_content {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 60%;
  width: 85%;
  font-size: 0.9em;
  letter-spacing: 0em;
}

.value {
  background: url("../public/img/specialdetail.jpg") no-repeat center center;
  background-size: cover;
}
.value .container {
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.6em;
}
.value .container .institute {
  padding: 1em 0 0.5em;
}
.value .container .block {
  padding: 1em 0 2em;
  font-size: 1.2em;
  font-weight: bold;
}
.value .container .section_title {
  padding: 0.5em 0;
  margin-bottom: 0;
}
.value .container .section_title::before, .value .container .section_title::after {
  --color_seccondary: white;
}

.message .container {
  text-align: center;
  padding: 0 10em;
}
.message .container .strong {
  padding: 2em;
  font-size: 1.3em;
  letter-spacing: 0.1em;
}
.message .container_spread {
  display: flex;
  gap: 2em;
  letter-spacing: 0.1em;
}
.message .container_spread img {
  height: 9em;
}
.message .container_content {
  text-align: left;
}
.message .container_content p {
  font-size: 0.9em;
  line-height: 1.3em;
  padding-top: 0.5em;
}
.message .container_content .block {
  padding: 1.5em 0;
}
.message .container_content .block p {
  padding: 0;
}

.callcenter {
  background-color: #ebb94d;
}
.callcenter .container {
  text-align: center;
  padding: 1em 0;
  letter-spacing: 0.1em;
}
.callcenter .container .strong {
  padding: 1.5em 0;
}
.callcenter .container .button-md {
  margin-top: 1em;
}

.common_question .container {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding-bottom: 3em;
}
.common_question .container h2 {
  padding: 1em 0;
}
.common_question .container details {
  text-align: left;
  border-bottom: 1px solid #ebebeb;
}
.common_question .container details summary {
  position: relative;
  list-style: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 1em;
  border: 1px solid #ebebeb;
  margin: 0.2em auto 0;
}
.common_question .container details summary::after {
  display: block;
  content: "";
  position: absolute;
  border-top: solid 6px #ebebeb;
  border-left: solid 6px #ebebeb;
  width: 0.5em;
  height: 0.5em;
  transform: rotate(225deg);
  top: 1em;
  right: 1em;
}
.common_question .container details summary:hover p {
  text-decoration: underline;
}
.common_question .container details summary p {
  display: inline-block;
}
.common_question .container details[open] summary::after {
  transform: rotate(45deg);
}
.common_question .container details[open] .container_answer {
  max-height: 5em;
  padding: 1.5em 1.5em 2em;
}
.common_question .container_answer {
  padding: 0em;
  max-height: 0em;
  transition: max-height 0.5s, padding 0.5s;
}

footer {
  background-color: #ebebeb;
  padding: 2em;
}
footer .container {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
}
footer .container p {
  font-size: 0.6em;
}
footer .container a {
  color: var(--color-secondary);
}
footer .container .cta_sns {
  padding: 0 0 2em;
}
footer .container .cta_sns_facebook {
  color: #FFF;
}

.circle {
  display: inline-block;
  padding: 4rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.strong {
  font-weight: bold;
  font-size: 1.1em;
}

.white {
  color: #fff;
}

.yellow {
  color: var(--color-primary);
}/*# sourceMappingURL=style.css.map */