@use "reset";
@use "responsive" as *;
@use "button" as *;
@use "pagetop" as *;
@use "sectionTitle" as *;
@use "circle" as *;
@use "font" as *;
@use "triangle" as *;
@use "underline" as *;
@use "accordion" as *;

:root {
  --color-primary: #ebb94d;
  --color-secondary: #016ea9;
  --color-basic: #333333;
  --color-gray: #ebebeb;
  --max-width: 1200px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive(sm) {
    flex-direction: column;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "sans-serif";
  color: var(--color-basic);
}
a {
  color: var(--color-basic);
  text-decoration: none;
}

.br {
  display: none;
  @include responsive(sm) {
    display: block;
    line-height: 2.4rem;
  }
}
.pc {
  display: block;
  @include responsive(sm) {
    display: none; 
  }
}

.container {
  max-width: var(--max-width);
  text-align: center;
  letter-spacing: 0.15rem;
  padding: 0 1.6rem;
  margin: 0 auto;
  @include responsive(sm) {
    padding: 0 1rem;
  }
}

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  .container {
    @include flex-center();
    justify-content: space-between;
    padding: 1.6rem;
    @include responsive(lg) {
      letter-spacing: 0rem;
    }
    @include responsive(sm) {
      flex-direction: row;
      padding: 0;
    }
  }
  &_logo {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    @include responsive(sm) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 0;
      padding-left: 0.8rem;
    }
    &__image {
      height: 4.4rem;
      @include responsive(sm) {
        height: 3.2rem;
      }
    }
    &__text {
      padding-bottom: 0.5rem;
    }
  }
  &_action {
    .button-sm {
      img {
        display: none;
        width: 3.2rem;
      }
      .sp {
        display: none;
        font-size: 1.2rem;
        font-weight: 400;
      }
      @include responsive(sm) {
        @include flex-center();
        border-radius: 0;
        img, .sp  {
          display: block;
        }
      }
    }
  }
}

main {
  > section {
    padding: 4.2rem 0;
  }
  .blank {
    height: 7.6rem;
  }
}

.mainvisual {
  background: url(../public/img/main.jpg) no-repeat center center;
  background-size: cover;
  padding: 10.4rem 0;
  @include responsive(sm) {
    padding: 4rem 0;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__img {
    height: 10.4rem;
    margin-bottom: 3.6rem;
  }
  &__text {
    line-height: 2.2rem;
  }
}

// コールトゥアクション
.cta {
  color: white;
  background-color: var(--color-primary);
  padding: 2.4rem 0 4.4rem;
  .container {
    @include flex-center();
    flex-direction: column;
  }
  &_attention {
    color: #c7254e;
    background-color: white;
    border-radius: 3px;
    margin-top: 1.6rem;
  }
  .button-lg {
    width: 85%;
    margin: 4.4rem 0 5.6rem;
  }
  &_info {
    & + & {
     margin-top: 3.6rem; 
    }
  }
  &_sns {
    display: flex;
    gap: 6px 12px;
    margin-top: 2.8rem;
    &_facebook {
      padding: 5px 10px;
      background-color: #1877f2;
      color: white;
      border-radius: 5rem;
    }
  }
}

.question {
  background: url(../public/img/introbottom.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 16rem;
  @include responsive(sm) {
    background-size: contain;
    background-position-y: bottom;
    padding-bottom: 10rem;
  }
  .container {
    @include flex-center();
    flex-direction: column;
  }
  p {
    margin-bottom: 2rem;
    @include responsive(sm) {
      margin-top: 2rem;
    }
  }
  strong {
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1rem;
      background-color: var(--color-primary);
      position: absolute;
      inset: auto 0 0;
      z-index: -1;
    }
  }
}

.what {
  background-color: #FEF5E0;
  position: relative;
  .container {
    padding-top: 4rem;
    @include flex-center();
    flex-direction: column;
  }
  &_skills {
    background-color: white;
    width: 100%;
    margin: 3rem auto;
    border: solid 2px #ebb94d;
    border-radius: 0.4rem;
    padding: 3rem;
    @include responsive(sm) {
      padding: 1rem;
    }
  }

  ul {
    @include flex-center();
    align-items: baseline;
    padding: 1.2rem 0 2rem;
    gap: 2.4rem;
    flex-wrap: wrap;
    @include responsive(sm) {
      flex-direction: row;
      gap: 1rem;
      padding: 2rem 0;
    }
    img {
      margin: 1rem auto;
      @include responsive(sm) {
        height: 3rem;
      }
    }
  }
}

.step{
  background: url("../public/img/aboutsecondbg.jpg") center;
  background-size: cover;
  .container {
    @include flex-center();
    flex-direction: column;
    color: white;
  }
  h2 {
    margin-bottom: 2.4rem;
  }
  &_sentence {
    margin-bottom: 1.6rem;
    @include responsive(sm) {
      font-size: 1.3rem;
      line-height: 1.9rem;
      margin-bottom: 1rem;
    }
  }
  &_num {
    padding: 0.3rem;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: white;
    @include responsive(sm) {
      padding: 0;
      margin: 0 10%;
    }
  }
  ul {
    @include flex-center();
    width: 100%;
    gap: 1.6rem;
    margin-top: 1.4rem;
    @include responsive(lg) {
      flex-direction: column;
      width: 45%;
    }
    @include responsive(sm) {
      width: 100%;
    }
  }
  li {
    width: 100%;
    padding: 3rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    p:first-child, p:nth-child(2) {
      margin-bottom: 2.4rem;
    }
    @include responsive(sm) {
      padding: 1.6rem 0;
      p:first-child {
        margin-bottom: 1.5rem;
      }
      p:nth-child(2) {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.blue {
  background-color: var(--color-secondary);
  color: white;
  @include responsive(sm) {
    padding: 2rem 0;
    p {
      font-size: 1.2rem;
    }
  }
}

.learn {
  padding: 6.4rem 0 5rem;
  h2 {
    margin-bottom: 3.2rem;
    @include responsive(sm) {
      margin-bottom: 4rem;
    }
  }
  ul {
    display: flex;
    justify-content: center;;
    margin: 1.6rem auto;
    gap: 4%;
    overflow: hidden;
    @include responsive(sm) {
      margin: 2rem auto;
    }
  }
  li {
    img {
      height: 18rem;
      @include responsive(sm) {
        height: 12rem;
      }
    }
  }
}

.merit {
  background-color: #FEF5E0;
  padding-bottom: 5.2rem;
  @include responsive(lg) {
    padding-bottom: 4rem;
  }
  .container {
    @include flex-center();
    flex-direction: column;
  }
  .section_title  {
    padding: 2rem 0 1.6rem;
  }
  ul {
    display: flex;
    @include responsive(lg) {
      width: 95%;
      justify-content: space-between;
    }
    @include responsive(md) {
      flex-direction: column;
      gap: 3rem;
    }
    li {
      margin: 0rem 1.6rem;
      width: 100%;
      @include responsive(lg) {
        margin: 0rem;
      }
    }
  }
  img {
    height: 18rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1.2rem;
    @include responsive(lg) {
      width: 30rem;
    }
    @include responsive(sm) {
      height: 12rem;
      width: 100%;
    }
  }
  &__item {
    text-align: left;
    margin-bottom: 1.2rem;
    @include responsive(lg) {
      text-align: center;
    }
  }
  &__explain {
    text-align: left;
    @include responsive(lg) {
      margin: 0 4rem;
    }
    @include responsive(sm) {
      margin: 0 2rem;
    }
  }
  &__plus {
    background-color: white;
    border: 2px solid #ebb94d;
    border-radius: 5px;
    width: 100%;
    margin: 4.8rem auto 4rem;
    padding: 3rem;
    p {
      margin-bottom: 1.4rem;
    }
    @include responsive(lg) {
      width: 90%;
      margin-top: 6.4rem;
    }
    @include responsive(sm) {
      margin: 3.2rem auto 1.6rem;
      width: 100%;
      padding: 1rem 1rem 2rem;
      p:last-child {
        margin-bottom: 0;
        font-size: 1rem;
        letter-spacing: normal;
        line-height: 1.4rem;
      }
    }
  }
}

.member {
  background: url("../public/img/teacherbg.jpg") no-repeat center;
  background-size: cover;
  .container {
    @include flex-center();
    flex-direction: column;
    color: white;
  }
  &__header {
    margin-bottom: 3.6rem;
  }
  ul{
    display: flex;
    gap: 3.2rem;
    margin-top: 21rem;
    @include responsive(lg) {
      width: 90%;
    }
    @include responsive(md) {
      flex-direction: column;
      gap: 20rem;
    }
    @include responsive(sm) {
      width: 100%;
      gap: 12rem;
      margin-top: 12rem;
    }
    li{
      flex: 1;
      position: relative;
      img{
        position: absolute;
        transform: translate(-50%, -100%);
        border-radius: 50%;
        top: 4rem;
        height: 20rem;
        @include responsive(sm) {
          height: 12rem;
        }
      }
    }
  }
  &__portfolio {
    border: 3px solid white;
    padding: 4.8rem 4rem 7.4rem;
    @include responsive(lg) {
      padding-bottom: 4rem;
    }
    @include responsive(sm) {
      padding: 4.8rem 1rem 2rem;
    }
  }
  &__name {
    margin: 1rem 0;
  }
  &__sentence {
    text-align: left;
  }
}

.Question {
  position: relative;
  padding-top: 12rem;
  background-color: #ebb94d;
  color: white;
  @include responsive(sm) {
    padding-top: 9rem;
    padding-bottom: 2rem;
  }
  .circle-question {
    top: 8.4rem;
    @include responsive(sm) {
      top: 5.4rem;
    }
  }
  .container {
    @include flex-center();
  }
  .section_title {
    &::before, &::after {
      --color-primary: white;
      padding: 0;
    }
    padding: 1.6rem;
    margin-bottom: 0;
  }
}

.Answer {
  position: relative;
  .container{
    @include flex-center();
    flex-direction: column;
  }
  &__header {
    margin-bottom: 1rem;
  }
  &__description {
    margin-bottom: 3rem;
  }
  ul {
    color: #777777;
    width: 70%;
    @include responsive(lg) {
      width: 90%;
    }
    @include responsive(sm) {
      width: 100%;
    }
    li {
      display: grid;
      text-align: left;
      grid-template-columns: 3fr 7fr;
      margin-bottom: 4rem;
      gap: 2rem;
      img{
        width: 100%;
        border: 3px solid #ebb94d;
      }
    }
    li:last-child {
      margin-bottom: 0rem;
    }
  }
  &__opinion {
    margin: 1.6rem 0 1rem;
    @include responsive(sm) {
      margin: 0rem;
    }
  }
}
    
.content {
  background: url("../public/img/classbg.jpg") no-repeat center;
  background-size: cover;
  color: white;
  .container{
    @include flex-center();
    flex-direction: column;
  }
  &__header{
    padding-top: 1rem;
    margin-bottom: 1.6rem;
  }
  ul{
    display: flex;
    width: 100%;
    padding: 0 15%;
    margin: 5rem auto;
    gap: 3rem;
    @include responsive(lg) {
      width: 90%;
    }
    @include responsive(md) {
      flex-direction: column;
    }
    @include responsive(sm) {
      width: 100%;
      padding: 0;
      margin: 3rem auto 0;
    }
    li{
      background-color: var(--color-secondary);
      border-radius: 5px;
      width: 100%;
      height: 100%;
    }
  }
  &__title{
    padding: 1.6rem 0;
  }
  &__item{
    color: black;
    background-color: white;
    border-bottom: 1px dotted #ebebeb;
    margin: 0 0.15rem;
    padding: 1rem;
  }
  &__first{
    padding-top: 2.4rem;
  }
  &__last{
    border-radius: 0 0 4px 4px;
    margin-bottom: 0.15rem;
  }
}

.flow {
  .container {
    @include flex-center();
    flex-direction: column;
  }
  &__header {
    margin-bottom: 5rem;
  }
  &_img {
    margin-bottom: 4rem;
    height: 16rem;
    @include responsive(lg) {
      height: 90%;
      width: 90%;
    }
  }
  ul {
    @include responsive(lg) {
      width: 90%;
    }
    @include responsive(sm) {
      width: 100%;
    }
    li {
      display: grid;
      grid-template-columns: 18rem 1fr;
      justify-content: center;
      background-color: #fef5e0;
      padding: 3rem 4rem;
      border-radius: 10px;
      gap: 2rem;
    }
  }
  &__step {
    align-self: flex-end;
    img {
      margin-bottom: 2rem;
      @include responsive(sm) {
        width: 3.5rem;
        height: 3.5rem;
        margin: 1rem 2rem;
      }
    }
  }
  &__sentence{
    text-align: left;
    flex-shrink: 1;
    p {
      margin-top: 2rem;
    }
    @include responsive(sm) {
      padding: 0rem 2rem 2rem;
      p {
        margin-top: 1rem;
      }
    }
  }
  &__connection {
    margin: 0 auto;
    width: 70%;
  }
  @include responsive(sm) {
    details {
      background-color: #fef5e0;
      margin-bottom: 0.4rem;
      summary {
        display: flex;
        align-items: center;
        --color-gray: black;
      }
    }
  }
    
}

.why-bangkok {
  background: url("../public/img/bangkokbg.jpg") no-repeat center;
  background-size: cover;
  color: white;
  padding: 10.2rem 0 9.2rem;
  .container {
    text-align: left;
  }
  &__header {
    margin-bottom: 2.8rem;
  }
  &__list {
    margin: 2rem 0;
    p {
      margin-bottom: 1rem;
    }
  }
}

.prize {
  background-color: #f7c23c;
  &__header {
    margin-bottom: 4.4rem;
  }
  &__square {
    position: relative;
    margin-top: 9.2rem;
  }
  &__description {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background-color: #f7c23c;
    white-space: nowrap;
    padding-inline: 1.6rem;
  }
  ul {
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    padding: 4.8rem 8% 5.2rem;
    gap: 2rem;
    @include responsive(md) {
      flex-direction: column;
      align-items: center;
      padding: 4.8rem auto 5.2rem;
    }
  }
  &__circle {
    background-color: white;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    position: relative;
  }
  &__num {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
  }
  &__content {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 10.8rem;
    width: 22rem;
  }
}

.value {
  background: url("../public/img/specialdetail.jpg") no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 6rem;
  .container {
    @include flex-center();
    flex-direction: column;
  }
  .section_title{
    &::before, &::after {
      --color-primary: white;
    }
    padding: 1.6rem;
    margin-bottom: 2rem;
  }
  &__title {
    margin-bottom: 2.4rem;
  }
  &__explanation {
    margin-bottom: 4rem;
  }
}

.message {
  padding-top: 6rem;
  .container{
    @include flex-center();
    flex-direction: column;
  }
  &__title {
    margin-bottom: 4rem;
  }
  &__explanation {
    font-weight: 700;
    margin-bottom: 4rem;
  }
  &__spread {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
    width: 75%;
    margin-bottom: 5rem;
    img {
      width: 100%;
    }
  }
  &__content {
    text-align: left;
    font-weight: 400;
    &__sentence {
      margin-bottom: 1rem;
    }
  }
  &__block {
    margin: 3rem auto;
  }
}

.callcenter {
  background-color: var(--color-primary);
  padding-top: 6rem;
  .container {
    @include flex-center();
    flex-direction: column;
  }
  &__title {
    margin-bottom: 2.4rem;
  }
  &__explanation {
    margin-bottom: 6rem;
  }
  &__link {
    margin-bottom: 2rem;
  }
}

.common_question {
  padding: 6rem 0;
  .container {
    @include flex-center();
    flex-direction: column;
  }
  &__title {
    margin-bottom: 4rem;
  }
  details {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 0.4rem;
    summary {
      padding: 1.6rem 2rem;
      border: 1px solid var(--color-gray);
    }
    &[open] {
      .details__content{
        padding: 2rem 1.6rem 3rem;
      }
    }
  }
}

footer {
  background-color: #ebebeb;
  padding: 4rem 0 2.4rem;
  .container{
    @include flex-center();
    flex-direction: column;
  }
  a {
    color: var(--color-secondary);
  }
  .cta_sns {
    &_facebook{
      color: white;
    }
    margin:1rem auto 3.6rem;
  }
}

.white {
  color: #fff;
}

.yellow {
  color: var(--color-primary);
}