/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.button, .button-sm, .button-md, .button-lg {
  color: white;
  background-color: #da6b64;
  display: inline-block;
  border-radius: 100px;
}
.button-lg {
  padding: 1.25em 1.5em;
}
.button-sm {
  padding: 1.4rem 4rem;
}
@media (max-width: 768px) {
  .button-sm {
    padding: 1em 1.5em;
  }
}

.pagetop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 6rem;
  right: 4em;
  bottom: 4em;
  background-color: white;
  border: solid 2px black;
  border-radius: 50%;
  z-index: 2;
}
.pagetop_arrow {
  height: 1em;
  width: 1em;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: translateY(20%) rotate(-45deg);
}

.section_title {
  position: relative;
  line-height: 1.5em;
  width: 100%;
  max-width: calc(var(--max-width) - 30%);
  padding: 3.6rem 0 2.8rem;
  margin-bottom: 3.6rem;
}
.section_title::before, .section_title::after {
  position: absolute;
  content: "";
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  top: 0;
  left: 0;
}
.section_title::before {
  border-top: 4px solid var(--color-primary);
  border-left: 4px solid var(--color-primary);
}
.section_title::after {
  border-right: 4px solid var(--color-primary);
  border-bottom: 4px solid var(--color-primary);
  inset: auto 0 0 auto;
}

.circle, .circle-question, .circle-about {
  display: inline-block;
  padding: 4rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}
.circle p, .circle-question p, .circle-about p {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 4rem;
  left: 4rem;
}
.circle-about {
  top: 0rem;
  color: white;
  background-color: #ebb94d;
}
.circle-question {
  top: 8.4rem;
  color: #ebb94d;
  background-color: white;
}

.p-text {
  font-weight: 600;
}
.p-text__lv1 {
  line-height: 4rem;
  font-size: 2.8rem;
}
@media (max-width: 1200px) {
  .p-text__lv1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  .p-text__lv1 {
    font-size: 1.8rem;
  }
}
.p-text__lv2 {
  font-size: 2rem;
  line-height: 2.9rem;
}
@media (max-width: 1200px) {
  .p-text__lv2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .p-text__lv2 {
    font-size: 1.5rem;
  }
}
.p-text__lv3 {
  font-size: 1.6rem;
  line-height: 2.3rem;
}
@media (max-width: 1200px) {
  .p-text__lv3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .p-text__lv3 {
    font-size: 1.2rem;
  }
}
.p-text__lv4 {
  font-size: 1.4rem;
  line-height: 2rem;
}
@media (max-width: 768px) {
  .p-text__lv4 {
    font-size: 1.2rem;
  }
}
.p-text__header {
  font-size: 1.4rem;
}
@media (max-width: 1200px) {
  .p-text__header {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .p-text__header {
    font-size: 1rem;
  }
}
.p-text__anotation {
  font-family: "Consolas";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.6rem;
}
@media (max-width: 1200px) {
  .p-text__anotation {
    font-size: 1.4rem;
  }
}
.p-text__history {
  font-size: 2.1rem;
}
@media (max-width: 1200px) {
  .p-text__history {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .p-text__history {
    font-size: 1.5rem;
  }
}
.p-text__skill {
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 300;
}
@media (max-width: 768px) {
  .p-text__skill {
    font-size: 1rem;
  }
}
.p-text__merit {
  font-size: 2rem;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .p-text__merit {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .p-text__merit {
    font-size: 1.5rem;
  }
}
.p-text__circle, .p-text__circle__qanda {
  font-size: 1.4rem;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .p-text__circle__qanda {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .p-text__circle, .p-text__circle__qanda {
    font-size: 1.2rem;
  }
}
.p-text__italic, .p-text__italic__sm, .p-text__italic__lg {
  font-weight: 400;
  font-style: italic;
}
.p-text__italic__lg {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.p-text__italic__sm {
  font-size: 1.5rem;
}
.p-text__flow {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.6rem;
}
@media (max-width: 768px) {
  .p-text__flow {
    font-size: 1.5rem;
  }
}
.p-text__stick-md {
  font-size: 2.4rem;
}
.p-text__thin {
  font-weight: 300;
}

.triangle {
  position: absolute;
  background-color: #ebb94d;
  height: 2.4rem;
  width: 4.8rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
          clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.underline {
  text-decoration: underline;
}

:root {
  --color-primary: #ebb94d;
  --color-secondary: #016ea9;
  --color-basic: #333333;
  --max-width: 1200px;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "sans-serif";
  color: var(--color-basic);
}

a {
  color: var(--color-basic);
  text-decoration: none;
}

@media (max-width: 768px) {
  .br {
    display: block;
    line-height: 2.4rem;
  }
  .pc {
    display: none;
  }
}
.container {
  max-width: var(--max-width);
  text-align: center;
  letter-spacing: 0.15rem;
  padding: 0 1.6rem;
  margin: 0 auto;
}

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
}
@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .header .container {
    letter-spacing: 0rem;
  }
}
@media (max-width: 768px) {
  .header .container {
    flex-direction: row;
    padding: 0;
  }
}
.header_logo {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
@media (max-width: 768px) {
  .header_logo {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0;
    padding-left: 0.8rem;
  }
}
.header_logo__image {
  height: 4.4rem;
}
@media (max-width: 768px) {
  .header_logo__image {
    height: 3.2rem;
  }
}
.header_logo__text {
  padding-bottom: 0.5rem;
}
.header_action .button-sm img {
  display: none;
  width: 3.2rem;
}
.header_action .button-sm .sp {
  display: none;
  font-size: 1.2rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  .header_action .button-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .header_action .button-sm {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .header_action .button-sm img, .header_action .button-sm .sp {
    display: block;
  }
}

main > section {
  padding: 4.2rem 0;
}
main .blank {
  height: 7.6rem;
}

.mainvisual {
  background: url(../public/img/main.jpg) no-repeat center center;
  background-size: cover;
  padding: 10.4rem 0;
}
@media (max-width: 768px) {
  .mainvisual {
    padding: 4rem 0;
  }
}
.mainvisual__title {
  margin-bottom: 1rem;
}
.mainvisual__img {
  height: 10.4rem;
  margin-bottom: 3.6rem;
}
.mainvisual__text {
  line-height: 2.2rem;
}

.cta {
  color: white;
  background-color: var(--color-primary);
  padding: 2.4rem 0 4.4rem;
}
.cta .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .cta .container {
    flex-direction: column;
  }
}
.cta_attention {
  color: #c7254e;
  background-color: white;
  border-radius: 3px;
  margin-top: 1.6rem;
}
.cta .button-lg {
  width: 85%;
  margin: 4.4rem 0 5.6rem;
}
.cta_info + .cta_info {
  margin-top: 3.6rem;
}
.cta_sns {
  display: flex;
  gap: 6px 12px;
  margin-top: 2.8rem;
}
.cta_sns_facebook {
  padding: 5px 10px;
  background-color: #1877f2;
  color: white;
  border-radius: 5rem;
}

.question {
  background: url(../public/img/introbottom.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 16rem;
}
@media (max-width: 768px) {
  .question {
    background-size: contain;
    background-position-y: bottom;
    padding-bottom: 10rem;
  }
}
.question .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .question .container {
    flex-direction: column;
  }
}
.question p {
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .question p {
    margin-top: 2rem;
  }
}
.question strong {
  position: relative;
  z-index: 1;
}
.question strong::before {
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  background-color: var(--color-primary);
  position: absolute;
  inset: auto auto 0.4rem 0;
  top: 2rem;
  z-index: -1;
}

.what {
  background-color: #FEF5E0;
  position: relative;
}
.what .container {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .what .container {
    flex-direction: column;
  }
}
.what_skills {
  background-color: white;
  width: 100%;
  margin: 3rem auto;
  border: solid 2px #ebb94d;
  border-radius: 0.4rem;
  padding: 3rem;
}
@media (max-width: 768px) {
  .what_skills {
    padding: 1rem;
  }
}
.what ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  padding: 1.2rem 0 2rem;
  gap: 2.4rem;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .what ul {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .what ul {
    flex-direction: row;
    gap: 1rem;
    padding: 2rem 0;
  }
}
.what ul img {
  margin: 1rem auto;
}
@media (max-width: 768px) {
  .what ul img {
    height: 3rem;
  }
}

.step {
  background: url("../public/img/aboutsecondbg.jpg") center;
  background-size: cover;
}
.step .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
@media (max-width: 768px) {
  .step .container {
    flex-direction: column;
  }
}
.step h2 {
  margin-bottom: 2.4rem;
}
.step_sentence {
  margin-bottom: 1.6rem;
}
.step_num {
  padding: 0.3rem;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white;
}
.step ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.6rem;
  margin-top: 1.4rem;
}
@media (max-width: 768px) {
  .step ul {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .step ul {
    flex-direction: column;
    width: 45%;
  }
}
@media (max-width: 768px) {
  .step ul {
    width: 100%;
  }
}
.step li {
  width: 100%;
  padding: 3rem;
  background-color: white;
  color: black;
  border-radius: 5px;
}
.step li p:first-child, .step li p:nth-child(2) {
  margin-bottom: 2.4rem;
}

.blue {
  background-color: var(--color-secondary);
  color: white;
}

.learn {
  padding: 6.4rem 0 5rem;
}
.learn h2 {
  margin-bottom: 3.2rem;
}
@media (max-width: 768px) {
  .learn h2 {
    margin-bottom: 4rem;
  }
}
.learn ul {
  display: flex;
  justify-content: center;
  margin: 1.6rem auto;
  gap: 4%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .learn ul {
    margin: 2rem auto;
  }
}
.learn li img {
  height: 18rem;
}
@media (max-width: 768px) {
  .learn li img {
    height: 12rem;
  }
}

.merit {
  background-color: #FEF5E0;
  padding-bottom: 5.2rem;
}
.merit .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .merit .container {
    flex-direction: column;
  }
}
.merit .section_title {
  padding: 2rem 0 1.6rem;
}
.merit ul {
  display: flex;
}
.merit ul li {
  margin: 0rem 1.6rem;
  width: 100%;
  text-align: left;
}
.merit ul li img {
  height: 18rem;
  width: 100%;
  margin-bottom: 1.2rem;
}
.merit_item {
  margin-bottom: 1.2rem;
}
.merit_plus {
  background-color: white;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  width: 100%;
  margin: 4.8rem auto;
  padding: 3rem;
}
.merit_plus p {
  margin-bottom: 1.4rem;
}

.member {
  background: url("../public/img/teacherbg.jpg") no-repeat center;
  background-size: cover;
}
.member .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
@media (max-width: 768px) {
  .member .container {
    flex-direction: column;
  }
}
.member__header {
  margin-bottom: 3.6rem;
}
.member ul {
  display: flex;
  gap: 3.2rem;
  margin-top: 21rem;
}
.member ul li {
  flex: 1;
  position: relative;
}
.member ul li img {
  position: absolute;
  transform: translate(-50%, -100%);
  border-radius: 50%;
  top: 4rem;
  height: 20rem;
}
.member__portfolio {
  border: 3px solid white;
  padding: 4rem 4rem 7.4rem;
}
.member__name {
  margin: 1rem 0;
}
.member__sentence {
  text-align: left;
}

.Question {
  position: relative;
  padding-top: 12rem;
  background-color: #ebb94d;
  color: white;
}
.Question .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .Question .container {
    flex-direction: column;
  }
}
.Question .section_title {
  margin-bottom: 0;
}
.Question .section_title::before, .Question .section_title::after {
  --color-primary: white;
}

.Answer {
  position: relative;
}
.Answer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .Answer .container {
    flex-direction: column;
  }
}
.Answer__header {
  margin-bottom: 1rem;
}
.Answer__description {
  margin-bottom: 3rem;
}
.Answer ul {
  color: #777777;
  width: 70%;
}
.Answer ul li {
  display: flex;
  text-align: left;
  flex-grow: 3 7;
  width: 100%;
  margin-bottom: 4rem;
}
.Answer ul li img {
  width: 30%;
  margin: 0 3rem;
  border: 3px solid #ebb94d;
}
.Answer__opinion {
  margin: 1.6rem 0 1rem;
}

.content {
  background: url("../public/img/classbg.jpg") no-repeat center;
  background-size: cover;
  color: white;
}
.content .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .content .container {
    flex-direction: column;
  }
}
.content__header {
  padding-top: 10px;
}
.content ul {
  display: flex;
  width: 100%;
  padding: 0 15%;
  margin: 3rem 0;
  gap: 3rem;
}
.content ul li {
  background-color: var(--color-secondary);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.content__title {
  padding: 1.6rem 0;
}
.content__item {
  color: black;
  background-color: white;
  border-bottom: 1px dotted #ebebeb;
  margin: 0 0.15rem;
  padding: 1rem;
}
.content__first {
  padding-top: 2.4rem;
}
.content__last {
  border-radius: 0 0 4px 4px;
  margin-bottom: 0.15rem;
}

.flow_img {
  margin: 5rem auto 4rem;
  height: 16rem;
}
@media (max-width: 1200px) {
  .flow_img {
    height: 90%;
    width: 90%;
  }
}
.flow li {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: center;
  background-color: #fef5e0;
  padding: 3rem 4rem;
  border-radius: 10px;
  gap: 2rem;
}
.flow__step {
  align-self: flex-end;
}
.flow__step img {
  margin-bottom: 2rem;
}
.flow__sentence {
  text-align: left;
  flex-shrink: 1;
}
.flow__sentence p {
  padding-top: 2rem;
}

.why-bangkok {
  background: url("../public/img/bangkokbg.jpg") no-repeat center;
  background-size: cover;
  color: white;
  padding: 10.2rem 0 9.2rem;
}
.why-bangkok .container {
  text-align: left;
}
.why-bangkok__header {
  margin-bottom: 2.8rem;
}
.why-bangkok__list {
  margin: 2rem 0;
}
.why-bangkok__list p {
  margin-bottom: 1rem;
}

.prize {
  background-color: #f7c23c;
}
.prize__header {
  margin-bottom: 4.4rem;
}
.prize__square {
  position: relative;
  margin-top: 9.2rem;
}
.prize__description {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  background-color: #f7c23c;
  white-space: nowrap;
  padding-inline: 1.6rem;
}
.prize ul {
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
  padding: 4.8rem 8% 5.2rem;
}
.prize__circle {
  background-color: white;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  position: relative;
}
.prize__num {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 30%;
}
.prize__content {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 10.8rem;
  width: 22rem;
}

.value {
  background: url("../public/img/specialdetail.jpg") no-repeat center center;
  background-size: cover;
}
.value .container {
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.6em;
}
.value .container .institute {
  padding: 1em 0 0.5em;
}
.value .container .block {
  padding: 1em 0 2em;
  font-size: 1.2em;
  font-weight: bold;
}
.value .container .section_title {
  padding: 0.5em 0;
  margin-bottom: 0;
}
.value .container .section_title::before, .value .container .section_title::after {
  --color_seccondary: white;
}

.message .container {
  text-align: center;
  padding: 0 10em;
}
.message .container .strong {
  padding: 2em;
  font-size: 1.3em;
  letter-spacing: 0.1em;
}
.message .container_spread {
  display: flex;
  gap: 2em;
  letter-spacing: 0.1em;
}
.message .container_spread img {
  height: 9em;
}
.message .container_content {
  text-align: left;
}
.message .container_content p {
  font-size: 0.9em;
  line-height: 1.3em;
  padding-top: 0.5em;
}
.message .container_content .block {
  padding: 1.5em 0;
}
.message .container_content .block p {
  padding: 0;
}

.callcenter {
  background-color: #ebb94d;
}
.callcenter .container {
  text-align: center;
  padding: 1em 0;
  letter-spacing: 0.1em;
}
.callcenter .container .strong {
  padding: 1.5em 0;
}
.callcenter .container .button-md {
  margin-top: 1em;
}

.common_question .container {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding-bottom: 3em;
}
.common_question .container h2 {
  padding: 1em 0;
}
.common_question .container details {
  text-align: left;
  border-bottom: 1px solid #ebebeb;
}
.common_question .container details summary {
  position: relative;
  list-style: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 1em;
  border: 1px solid #ebebeb;
  margin: 0.2em auto 0;
}
.common_question .container details summary::after {
  display: block;
  content: "";
  position: absolute;
  border-top: solid 6px #ebebeb;
  border-left: solid 6px #ebebeb;
  width: 0.5em;
  height: 0.5em;
  transform: rotate(225deg);
  top: 1em;
  right: 1em;
}
.common_question .container details summary:hover p {
  text-decoration: underline;
}
.common_question .container details summary p {
  display: inline-block;
}
.common_question .container details[open] summary::after {
  transform: rotate(45deg);
}
.common_question .container details[open] .container_answer {
  max-height: 5em;
  padding: 1.5em 1.5em 2em;
}
.common_question .container_answer {
  padding: 0em;
  max-height: 0em;
  transition: max-height 0.5s, padding 0.5s;
}

footer {
  background-color: #ebebeb;
  padding: 2em;
}
footer .container {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
}
footer .container p {
  font-size: 0.6em;
}
footer .container a {
  color: var(--color-secondary);
}
footer .container .cta_sns {
  padding: 0 0 2em;
}
footer .container .cta_sns_facebook {
  color: #FFF;
}

.strong {
  font-weight: bold;
  font-size: 1.1em;
}

.white {
  color: #fff;
}

.yellow {
  color: var(--color-primary);
}/*# sourceMappingURL=style.css.map */